<app-error
  *ngIf="errorStatus; else nonErrorBlock"
  [errorMessage]="errorMessage"
></app-error>
<ng-template #nonErrorBlock
  ><mat-card *ngIf="checkRole() == 0; else else1Block">
    <mat-card-content>
      <div class="d-flex justify-content-between">
        <div class="container">
          <div class="row">
            <div class="col-1 p-2">S.No</div>
            <div class="col-4 p-2">Loan Application Id</div>
            <div class="col-1 p-2">Loan Amount</div>
            <div class="col-1 p-2">Application Status</div>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="p-2">Actions</div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <ng-template #else1Block>
    <mat-card>
      <mat-card-content>
        <div class="d-flex justify-content-between">
          <div class="container">
            <div class="row">
              <div class="col-1 p-2">S.No</div>
              <div class="col-2 p-2">User Email Id</div>
              <div class="col-4 p-2">Loan Application Id</div>
              <div class="col-1 p-2">Eligibility</div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <div class="p-2">Actions</div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-template>

  <div *ngIf="CheckRole() == 0; else else2Block">
    <li
      *ngFor="
        let loanApplicationByUser of listOfLoanApplicationDetailsByUser;
        index as i;
        first as isFirst
      "
    >
      <app-loan-application-card
        [userLoanApplicationDetailsByUser]="loanApplicationByUser"
        [index]="i"
      ></app-loan-application-card>
    </li>
  </div>
  <ng-template #else2Block
    ><li
      *ngFor="
        let loanApplicationByAdvisor of listOfLoanApplicationDetailsByAdvisor;
        index as i;
        first as isFirst
      "
    >
      <app-loan-application-card
        [userLoanApplicationDetailsByAdvisor]="loanApplicationByAdvisor"
        [index]="i"
      ></app-loan-application-card>
    </li>
  </ng-template>
  <app-error> </app-error
></ng-template>
