<mat-card>
  <mat-card-content>
    <div class="d-flex justify-content-between">
      <div class="container">
        <div class="row">
          <div class="col-1 p-2">{{ index + 1 }}</div>
          <div class="col-4 p-2">
            {{ collateral.id }}
          </div>
          <div class="col-1 p-2">
            {{ collateral.type }}
          </div>
          <div class="col-1 p-2">
            {{ collateral.share }}
          </div>
          <div class="col-1 p-2">
            {{ collateral.value }}
          </div>
        </div>
      </div>
      <div class="">
        <div class="d-flex justify-content-between">
          <div class="p-2">
            <button mat-raised-button color="primary" (click)="OnEdit()">
              Edit
            </button>
          </div>
          <div class="p-2">
            <button mat-raised-button color="warn" (click)="OnRemove()">
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
