<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DatabaseConnectionString" value="Server=.\;Database=HomeLoan;Trusted_Connection=True;MultipleActiveResultSets=true;TrustServerCertificate=True"/>
		<add key="GoldBankEvaluation" value="75"/>
		<add key="PropertyBankEvaluation" value="80"/>
		<add key="InsurancePolicyBankEvaluation" value="80"/>
		<add key="StockBankEvaluation" value="50"/>
	</appSettings>
</configuration>